<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="universal_tagger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <universal_tagger.Properties.Settings>
            <setting name="columns" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>File,12</string>
                        <string>Path,0</string>
                        <string>Size,1</string>
                        <string>Attributes,2</string>
                        <string>Created,3</string>
                        <string>Track,4</string>
                        <string>Artist,5</string>
                        <string>Album,6</string>
                        <string>Title,7</string>
                        <string>Year,8</string>
                        <string>Comment,9</string>
                        <string>Genre,10</string>
                        <string>Length,11</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="last_dir" serializeAs="String">
                <value />
            </setting>
            <setting name="restore_dir" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="scan_subdirs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="org_overwrite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="org_copy" serializeAs="String">
                <value />
            </setting>
            <setting name="org_root_dir" serializeAs="String">
                <value />
            </setting>
            <setting name="org_last_format" serializeAs="String">
                <value />
            </setting>
            <setting name="cols" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>File,1</string>
                        <string>Path,1</string>
                        <string>Size,1</string>
                        <string>Attributes,1</string>
                        <string>Created,1</string>
                        <string>Accessed,1</string>
                        <string>Modified,1</string>
                        <string>Album,1</string>
                        <string>Artist,1</string>
                        <string>Title,1</string>
                        <string>Track,1</string>
                        <string>TrackCount,1</string>
                        <string>Disc,1</string>
                        <string>DiscCount,1</string>
                        <string>Comment,1</string>
                        <string>Year,1</string>
                        <string>Genre,1</string>
                        <string>Length,1</string>
                    </ArrayOfString>
                </value>
            </setting>
        </universal_tagger.Properties.Settings>
    </userSettings>
</configuration>