<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="music_tagger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <music_tagger.Properties.Settings>
            <setting name="columns" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>File Name,0</string>
                        <string>File Path,1</string>
                        <string>Size,2</string>
                        <string>Attributes,3</string>
                        <string>Last Access,4</string>
                        <string>Last Write,5</string>
                        <string>Created,6</string>
                        <string>Track,7</string>
                        <string>Artist,8</string>
                        <string>Album,9</string>
                        <string>Title,10</string>
                        <string>Year,11</string>
                        <string>Comment,12</string>
                        <string>Genre,13</string>
                        <string>Lenght,14</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="last_dir" serializeAs="String">
                <value />
            </setting>
            <setting name="restore_dir" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="scan_subdirs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="view_ver1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="org_formats" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>&lt;K&gt;-&lt;A&gt;-&lt;B&gt;-&lt;T&gt;</string>
                        <string>&lt;A&gt;\&lt;B&gt;\&lt;K&gt;-&lt;T&gt;</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="org_ver1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="org_overwrite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="org_copy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="org_root_dir" serializeAs="String">
                <value />
            </setting>
            <setting name="tagv12file_formats" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>&lt;A&gt; - &lt;B&gt; - &lt;T&gt;</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="tagv22file_formats" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>&lt;A&gt; - &lt;B&gt; - &lt;T&gt;</string>
                    </ArrayOfString>
                </value>
            </setting>
        </music_tagger.Properties.Settings>
    </userSettings>
</configuration>